<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/home.css">
  <title>HOME</title>
</head>

<body>
  <div class="container">
    <div class="img">
      <img src="./assets/Scene-20.jpg">
    </div>
    <div class="login-container">
      <div class="login">
        <h1 id="1">Hello!</h1>
        <h1 id="2">Good Morning</h1>
        <div class="login-page">
          <h2>Login your account</h1>
            <form action="" method="post">
              <div class="form-format">
                <label>Username</label>
                <br>
                <input type="text" name="username">
              </div>
              <div class="form-format">
                <label>password</label>
                <br>
                <input type="Passworod" name="password">
              </div>
              <a href="#">forget passworod</a>
              <button type="submit">LOGIN</button>
            </form>
            <a href="reg">Created Account</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>